<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-12 mb-4">
      <div class="card h-100" onclick="location.href='/vocabulary-set/create-set';">
        <div class="card-body">
          <fa-icon [icon]="faPlus" class="fa-icon"></fa-icon>
          <h5 class="card-title">Stwórz zestaw słówek</h5>
          <p class="card-text">Utwórz swój własny zestaw słówek do nauki.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-12 mb-4">
      <div class="card h-100" onclick="location.href='/vocabulary-set/find-set';">
        <div class="card-body">
          <fa-icon [icon]="faSearch" class="fa-icon"></fa-icon>
          <h5 class="card-title">Znajdź zestaw słówek</h5>
          <p class="card-text">Przeszukaj dostępne zestawy słówek.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-12 mb-4">
      <div class="card h-100" onclick="location.href='/vocabulary-set/sets';">
        <div class="card-body">
          <fa-icon [icon]="faFolderOpen" class="fa-icon"></fa-icon>
          <h5 class="card-title">Twoje zestawy słówek</h5>
          <p class="card-text">Przejrzyj i zarządzaj swoimi zestawami słówek.</p>
        </div>
      </div>
    </div>
  </div>
</div>
