.login-container {
  background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  font-family: 'Arial', sans-serif;
}

.login-panel {
  background-color: #ffffff;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

input::placeholder {
  text-align: center;
}

.fa-google {
  margin-right: 10px;
}

.logo {
  width: 100px;
  height: 100px;
}

@media (max-width: 576px) {
  .login-panel {
    padding: 3rem 2rem;
  }
}
