<div class="login-container d-flex justify-content-center align-items-center vh-100">
  <div class="login-panel p-5 rounded shadow text-center">

    <div class="text-center mb-4">
      <img src="../../../assets/login/loginStudentLogo.jpg" alt="Logo Aplikacji" class="rounded-circle logo">

    </div>

    <h2 class="text-center mb-4">Zaloguj się</h2>

    <form [formGroup]="loginForm">

      <div class="form-group">
        <label for="username">Nazwa użytkownika</label>
        <input type="username" class="form-control" id="username" placeholder="Wpisz swój nick" formControlName="username" name="username">
        <div *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.errors?.['required']">
          <p class="text-danger fw-bold">To pole jest wymagane</p>
        </div>
      </div>

      <div class="form-group mt-3">
        <label for="password">Hasło</label>
        <input type="password" class="form-control" id="password" placeholder="Wpisz hasło" formControlName="password" name="password">
        <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['required']">
          <p class="text-danger fw-bold">To pole jest wymagane</p>
        </div>
      </div>

      <button type="submit" class="btn btn-primary btn-block mt-3" (click)="login()">Zaloguj się</button>

    </form>

    <div class="mt-4">
      <button class="btn btn-light"><i class="fa fa-google"></i>Zaloguj się przez Google</button>
    </div>

    <div class="text-center mt-3">
      <button class="btn btn-link" (click)="moveToRegister()">Rejestracja</button>
    </div>

  </div>
</div>


<!-- Modal login popup -->
<div class="modal fade" id="loginErrorModal" tabindex="-1" aria-labelledby="modalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalCenterTitle">Błąd logowania</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Zamknij"></button>
      </div>
      <div class="modal-body">
        Niepoprawna nazwa użytkownika lub hasło. Spróbuj ponownie.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
      </div>
    </div>
  </div>
</div>
