/*Nagłówek*/
.page-header {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
}

.page-header h1 {
  color: #007bff;
  font-weight: bold;
}

.page-header p {
  color: #6c757d;
}

/*WYBÓR ZESTAWU */
.vocabulary-sets-container {
  display: flex;
  flex-direction: column; /* Ustaw kafelki w kolumnie */
  align-items: center; /* Wyśrodkuj kafelki w poziomie */
  gap: 20px; /* Odstępy pomiędzy kafelkami */
  padding: 20px;
}

.vocabulary-set-tile {
  width: 100%; /* Szerokość kafelka w procentach */
  max-width: 600px; /* Maksymalna szerokość kafelka */
  margin-bottom: 20px; /* Odstęp na dole każdego kafelka */
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 30px;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex; /* Ustawienie wyśrodkowania w pionie */
  flex-direction: column; /* Elementy wewnątrz kafelka ułożone w kolumnie */
  align-items: center; /* Wyśrodkowanie zawartości w pionie */
}

.vocabulary-set-title {
  margin-top: 0;
  color: #007bff; /* Kolor tytułów */
  font-size: x-large;
  font-weight: bold;
}

.vocabulary-set-description {
  color: #666; /* Kolor opisów */
  font-size: medium;
}

.vocabulary-set-tile:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.vocabulary-set-info {
  font-size: 0.9rem;
  color: #666;
  margin-top: 10px;
}

.vocabulary-set-info p {
  margin: 5px 0;
}

/*KOLORKI DLA KAFELKÓW*/
.vocabulary-set-tile.reviewed-today {
  background-color: #e6f9e6; /* Jasny odcień zieleni */
  border-color: #b2d8b2; /* Lekko ciemniejszy odcień dla obramowania */
}

.vocabulary-set-tile.not-reviewed-today {
  background-color: #ffd297; /* Jasny odcień pomarańczowego */
  border-color: rgb(255, 189, 85); /* Lekko ciemniejszy odcień dla obramowania */
}

.vocabulary-set-tile.inactive {
  background-color: #e0e0e0; /* Szary kolor dla nieaktywnych zestawów */
  border-color: rgb(208, 208, 208); /* Lekko ciemniejszy odcień dla obramowania */
}

/*MINI MAPA*/
.mini-map {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Dodaj tu inne style, jeśli potrzebujesz */
}

.map-item {
  display: flex;
  align-items: center;
  margin-right: 10px; /* Odstęp między elementami */
}

.color-box {
  width: 15px;
  height: 15px;
  margin-right: 5px; /* Odstęp między kwadratem a tekstem */
  border: 1px solid #000; /* Obramowanie kwadratu */
}

.color-box.reviewed-today {
  background-color: #e6f9e6;
  border-color: #b2d8b2;
}

.color-box.not-reviewed-today {
  background-color: #ffd297;
  border-color: rgb(255, 189, 85);
}

.color-box.inactive {
  background-color: #e0e0e0;
  border-color: rgb(208, 208, 208);
}
