/*WYBÓR ZESTAWU */
.vocabulary-sets-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column; /* Ustaw kafelki w kolumnie */
  align-items: center; /* Wyśrodkuj kafelki w poziomie */
  gap: 20px; /* Odstępy pomiędzy kafelkami */
  padding: 20px;
}

.vocabulary-set-tile {
  width: 100%; /* Szerokość kafelka w procentach */
  max-width: 600px; /* Maksymalna szerokość kafelka */
  margin-bottom: 20px; /* Odstęp na dole każdego kafelka */
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 30px;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex; /* Ustawienie wyśrodkowania w pionie */
  flex-direction: column; /* Elementy wewnątrz kafelka ułożone w kolumnie */
  align-items: center; /* Wyśrodkowanie zawartości w pionie */
}

.vocabulary-set-title {
  margin-top: 0;
  color: #007bff; /* Kolor tytułów */
  font-size: x-large;
  font-weight: bold;
}

.vocabulary-set-description {
  color: #666; /* Kolor opisów */
  font-size: medium;
}

.vocabulary-set-tile:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

/*FISZKI */

.flashcard {
  max-width: 400px;
  max-height: 400px;
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  perspective: 1000px; /* Dodaje perspektywę dla efektu 3D */
}

#flashcardCarousel {
  position: relative;
}

.flashcard-inner {
  position: relative;
  width: 100%;
  height: 300px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flashcard-front, .flashcard-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Ukrywa tył podczas obracania */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flashcard-front {
  /* Style dla przodu fiszki */
  font-size: 1.5em;
}

.flashcard-back {
  /* Style dla tyłu fiszki */
  font-size: 1.2em;
  transform: rotateY(180deg); /* Obraca tył fiszki */
  padding: 20px; /* Dodane wypełnienie dla lepszego rozmieszczenia treści */
}

.flashcard.flipped .flashcard-inner {
  transform: rotateY(180deg); /* Obraca fiszkę */
}

.flashcard-back img {
  max-width: 200px; /* Zwiększona maksymalna szerokość obrazu */
  max-height: 200px; /* Zwiększona maksymalna wysokość obrazu */
  object-fit: cover; /* zapewnia, że obraz będzie pasował i zachowa proporcje */
  border-radius: 5px; /* lekko zaokrąglone rogi dla obrazu */
  margin-bottom: 15px;
}

/* Style dla tłumaczenia i definicji */
.flashcard-back p.translation {
  font-weight: bold; /* Pogrubienie dla tłumaczenia */
  margin-bottom: 10px; /* Odstęp pomiędzy tłumaczeniem a definicją */
}

.flashcard-back p.definition {
  font-style: italic; /* Kursywa dla definicji */
}

.carousel-control-prev, .carousel-control-next {
  color: #007bff; /* kolor przycisków */
}

.table-responsive {
  max-width: 700px; /* Ogranicz szerokość tabeli */
  margin: auto; /* Wycentruj tabelę */
}

.table {
  background-color: #f8f9fa;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.carousel-control-prev, .carousel-control-next {
  z-index: 2; /* Upewnij się, że przyciski są nad innymi elementami */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #000; /* Czarne tło dla ikon */
  position: absolute;
  top: 50%; /* Centruje przyciski w pionie */
  transform: translateY(-50%); /* Zapewnia, że są dokładnie na środku w pionie */
  z-index: 2; /* Upewnij się, że przyciski są nad innymi elementami */
}

/* Styl dla przycisku 'poprzedni' */
.carousel-control-prev {
  left: 100px; /* Przesuwa w lewo, blisko karty */
}

/* Styl dla przycisku 'następny' */
.carousel-control-next {
  right: 100px; /* Przesuwa w prawo, blisko karty */
}


/*TEST*/
.test-card {
  max-width: 600px; /* Zwiększ szerokość */
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.test-card .card-header {
  font-size: 1.4em;
  background: #f8f9fa;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.test-card .card-body {
  padding: 20px;
}

.test-card .card-body input {
  margin-bottom: 15px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.test-card .card-body button {
  width: 30%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
}

.test-instructions {
  max-width: 600px; /* Szerokość dopasowana do karty testu */
  margin: 20px auto;
  padding: 15px;
  background-color: #f0f0f0; /* Jasne tło dla wyróżnienia tekstu */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center; /* Centrowanie tekstu */
  font-size: 1.2em;
  color: #333; /* Ciemniejszy kolor tekstu dla lepszej czytelności */
}

/*WYNIKI TESTU*/
.test-results {
  max-width: 700px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.test-results h2 {
  margin-bottom: 15px;
}

.test-results p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.test-results-buttons {
  margin-top: 20px;
  text-align: center;
}

.test-results-buttons .btn {
  margin: 0 10px; /* Dodaje marginesy pomiędzy przyciskami */
}


