.navbar{
  background: linear-gradient(120deg, #27af5d 0%, #334fbd 100%);
}

/* Zwiększenie odległości między linkami */
@media (min-width: 992px) {
  .left-side-nav {
    margin-left: 0.5rem; /* Dodanie marginesu po prawej stronie */
  }
}

.right-side-nav {
  margin-left: 0.5rem; /* Dodanie marginesu po prawej stronie */
}

@media (max-width: 992px) { /* Bootstrap breakpoint dla large devices */
  .navbar-nav .nav-item {
    margin: 5px 0; /* Dodaje marginesy z góry i dołu dla każdego itemu */
  }

  .navbar-collapse {
    padding-left: 1rem; /* Dodaje padding po lewej stronie menu */
    padding-right: 1rem; /* Dodaje padding po prawej stronie menu */
  }
}
