.navbar{
  background: linear-gradient(120deg, #27af5d 0%, #334fbd 100%);
}

/* Zwiększenie odległości między linkami */
.left-side-nav {
  margin-left: 0.5rem; /* Dodanie marginesu po prawej stronie */
}

.right-side-nav {
  margin-right: 0.5rem; /* Dodanie marginesu po prawej stronie */
}
