/* Styl ogólny */

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.img-fluid {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}


.content-container {
  background-color: #f8f9fa;
  color: #495057;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-container, .container-fluid {
  min-height: 100vh; /* Ustaw wysokość na 100% wysokości viewportu */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Wyśrodkowanie zawartości w pionie */
  align-items: center; /* Wyśrodkowanie zawartości w poziomie */
  padding-left: 0;
  padding-right: 0;
}

/* Nagłówek */
.header {
  margin-bottom: 1rem;
  font-size: 2.5rem; /* Zmniejszony rozmiar nagłówka */
  text-align: center;
  color: #4f4f4f;
  font-family: 'Arial', sans-serif;
  width: 100%; /* Pełna szerokość */
}

/* Styl dla kart */
.card-container {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  padding: 50px;
  margin: 20px auto;
  width: auto; /* Zmniejsz szerokość kontenera kart */
  display: flex;
  flex-direction: column; /* Układ kolumnowy */
  align-items: center;
}

.card-deck {
  display: flex;
  justify-content: center; /* Centrowanie kart */
  flex-wrap: wrap;
  gap: 25px;
}

.card {
  width: 250px; /* Zmniejszona szerokość kart */
  margin: 10px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Ensure transition is smooth */
}

.card:hover {
  transform: translateY(-5px); /* Moves the card up by 5 pixels */
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); /* Enhanced shadow to give the "lift" effect */
}

.card-img-top {
  width: 100%; /* Obrazek na pełną szerokość karty */
  height: 200px; /* Wysokość auto, aby zachować proporcje */
  object-fit: cover;
}

.card-body {
  padding: 1rem;
}


.card-header {
  width: 100%;
  background-color: #f2f2f2; /* The background color for the level */
  padding: 0.5rem 1rem; /* Padding on all sides */
  border-top-left-radius: 8px; /* Rounded corners at the top */
  border-top-right-radius: 8px;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
}

.level {
  width: 100%; /* Full width */
  text-align: center; /* Center text */
  padding: 0.5rem 0; /* Padding top and bottom */
  font-weight: bold;
  border-bottom: 1px solid #ddd; /* Separator line */
}

.favorite {
  width: 100%; /* Full width */
  display: flex;
  justify-content: center; /* Center the heart button */
}

.card-text, .card-title {
  font-size: 1.2rem;
}

.card-text-my {
  color: #4f4f4f;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
}

.card-level {
  background-color: #f2f2f2;
  padding: 5px 10px;
  text-align: center;
  font-weight: bold;
  box-shadow: inset 0 4px 6px -3px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #ddd;
  margin: auto;
}

.card-title,
.card-text {
  width: 100%;
  text-align: center;
  padding: 0 0.5rem; /* Dodatkowe padding dla tekstu */
}

@media screen and (max-width: 600px) {
  .card-container {
    width: 100%; /* Pełna szerokość na mniejszych ekranach */
  }

  .card {
    width: 100%; /* Pełna szerokość kart na mniejszych ekranach */
    margin-bottom: 10px;
  }

  .card-deck {
    justify-content: space-around;
  }
}

@media (max-width: 768px) {
  .card {
    width: 100%; /* Karty na pełną szerokość dla mniejszych ekranów */
  }
}

@media screen and (max-width: 300px) {
  .card {
    width: 100%;
    height: auto;
  }
}

/* Styl dla przycisków */
.scroll-down-button, .scroll-up-button {
  background-color: transparent;
  border: none;
  color: #333;
  font-size: 2rem;
  cursor: pointer;
  padding: 10px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.scroll-down-button:hover, .scroll-down-button:focus, .scroll-up-button:hover, .scroll-up-button:focus {
  color: rgba(89, 87, 87, 0.68);
}

.scroll-down-button:active, .scroll-up-button:active {
  transform: translateY(4px);
}


.heart-button {
  background-color: transparent; /* No background for the heart button */
  border: none;
  color: #333;
  cursor: pointer;
  padding: 0.5rem; /* Padding around the heart icon */
}

.heart-button:hover {
  color: #c00;
}

.heart-button:active {
  transform: none;
}

/* Styl dla przycisków mediów społecznościowych */
.btn-social {
  color: #333333;
  border: 1px solid #dddddd;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0 10px;
  transition: background-color 0.3s;
}

.btn-social:hover {
  color: #0d6efd;
}

.btn-instagram:hover {
  color: #e86de0;
}

.btn-x:hover {
  color: #8c8b8b;
}

.btn-youtube:hover {
  color: red;
}

.fa-icon {
  pointer-events: none;
}

.scroll-down-button,
.scroll-up-button,
.heart-button,
.btn-social {
  background-color: transparent;
  border: none;
  color: #333;
  cursor: pointer;
  padding: 10px;
  font-size: 2rem;
  transition: color 0.3s ease;
}


.favourite {
  color: #de0101;
}

